* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que os paddings, margin sejam aplicados na caixa do elemento */

  font-size: 62.5%;
}

:root {
  --tw-gradient-from: #06b6d4;
  --tw-gradient-to: rgb(6 182 212 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #3b82f6;

  --bg-shadow: 100px 100px 10px 10px rgba(0, 0, 0, 0.2);
}

body {
  /* background-image: linear-gradient(to right, var(--tw-gradient-stops)); */
  background: #fbfaff;
}

hr {
  opacity: 30%;
}

/* CONTENT */
.content {
  background: #fbfaff;

  padding: 10rem 35rem 8rem;
}

.resume-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume {
  display: flex;
  flex-direction: column;
}

.resume h4 {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;

  color: black;
}

#office {
  font-family: "Roboto", sans-serif;
  opacity: 70%;

  padding: 0 0 1rem 0;
}

.resume p {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  text-align: justify;

  color: black;
  opacity: 80%;
}

#tecnologies {
  display: flex;
  gap: 1rem;

  list-style: none;
}

.resume ul li p {
  padding: 0;
  margin: 0;

  font-size: 1.5rem;

  color: black;
  opacity: 50%;
}

#btnContact {
  margin: 2rem 0;
}

.avatar img {
  height: 60rem;
  width: 60rem;
}

/* ===== UI.VERSE ===== */
#btnContact {
  width: 9em;
  height: 3em;
  border-radius: 1em;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

#btnContact a {
  font-size: 1.4rem;
}

#btnContact:hover {
  cursor: pointer;
}

#btnContact::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#btnContact:hover::before {
  width: 9em;
  color: black;
}

#btnContact a {
  text-decoration: none;

  color: black;
}

/* ===== SMARPTHONES ===== */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* CONTENT */
  .content {
    padding: 0;
    margin: 0;
  }

  .resume-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding: 2rem 0 0 0;
  }

  .resume h4 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;

    text-align: center;
    color: black;
  }

  #office {
    font-family: "Roboto", sans-serif;
    opacity: 70%;

    text-align: center;
    padding: 0 0 1rem 0;
  }

  .resume p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;

    text-align: center;
    padding: 0 2rem 1.3rem;
    color: black;
  }

  .resume ul {
    display: flex;
    justify-content: center;
  }

  .resume ul li p {
    display: flex;
    flex-direction: row;

    padding: 0 0 3rem 0;

    font-size: 1.2rem;
    color: black;
  }

  #btnContact {
    margin: 0 auto;
  }

  .avatar img {
    height: 36rem;
    width: 36rem;
  }
}

/* ===== TABLETS ===== */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* CONTENT */

  .content {
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .resume-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    gap: 3rem;

    padding: 2rem 5rem 1rem;
  }

  .resume {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .resume h4 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;

    text-align: center;
    color: black;
  }

  #office {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    opacity: 70%;

    text-align: center;
    padding: 0 0 1rem 0;
  }

  .resume p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;

    text-align: center;
    padding: 0 2rem 2rem;
    color: black;
  }

  .resume ul {
    display: flex;
    justify-content: center;
  }

  .resume ul li p {
    display: flex;
    flex-direction: row;

    padding: 0 0 0.3rem 0;

    font-size: 1.2rem;
    color: black;
  }

  .avatar img {
    width: 35rem;
    height: 35rem;
  }

  #btnContact {
    margin: 3rem auto 0;
  }
}

/* ===== IPADS ===== */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* CONTENT */
  .content {
    padding: 1rem 0;
    margin: 0;
  }

  .resume-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume h4 {
    font-size: 3.8rem;
  }

  .resume ul {
    padding: 1rem 0 0 0;
  }

  .avatar img {
    height: 45rem;
    width: 45rem;
  }
}
